<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Add Customer</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="collapse navbar-collapse" id="navbarNav">
                <a class="navbar-brand" href="#">Add Customer</a>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    {% if role == "Admin" %}
                    <a class="nav-item nav-link" href="{% url 'adminPage' %}">Home</a>
                    {% elif role == "SalesAdmin" %}
                        <a class="nav-item nav-link" href="{% url 'SalesAdmin' %}">Home</a>
                    {% elif role == "Operations" %}
                        <a class="nav-item nav-link" href="{% url 'Operations' %}">Home</a>
                    {% elif role == "SalesRep" %}
                        <a class="nav-item nav-link" href="{% url 'salesRep' %}">Home</a>
                    {% elif role == "HR" %}
                        <a class="nav-item nav-link" href="{% url 'HR' %}">Home</a>
                    {% elif role == "cus" %}
                        <a class="nav-item nav-link" href="{% url 'customer' %}">Home</a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                  </li>
                </ul>
              </div>
    </div>
<body>
    
    <br>
    <br>
    <div class="container pane-center" style="padding-top: 10%;">
        <h1>Add Customer</h1>
    
        <form action="/addCustomer" method="post" id="addCustomerForm">
            {% csrf_token %}
            {% if message %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
    
            <div class="form-group">
                <label for="cusFirstName">Customer First Name:</label>
                <input type="text" id="cusFirstName" name="cusFirstName" class="form-control" placeholder="First Name" required>
            </div>
    
            <div class="form-group">
                <label for="cusLastName">Customer Last Name:</label>
                <input type="text" id="cusLastName" name="cusLastName" class="form-control" placeholder="Last Name" required>
            </div>
    
            <div class="form-group">
                <label for="cusAddress">Customer Address:</label>
                <input type="text" id="cusAddress" name="cusAddress" class="form-control" placeholder="Address" required>
            </div>
    
            <div class="form-group">
                <label for="cusCity">City:</label>
                <input type="text" id="cusCity" name="cusCity" class="form-control" placeholder="City" required>
            </div>
    
            <div class="form-group">
                <label for="cusState">State:</label>
                <input type="text" id="cusState" name="cusState" class="form-control" placeholder="State" required>
            </div>
    
            <div class="form-group">
                <label for="cusZip">Zip:</label>
                <input type="text" id="cusZip" name="cusZip" class="form-control" placeholder="Zip Code" required>
            </div>
    
            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number" required>
            </div>
    
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
            </div>
    
            <button type="submit" class="btn btn-success">Save</button>
            {% if role == "Admin"%}
            <button type="button" class="btn btn-dark" onclick="window.location.href='/adminPage';">Cancel</button>
            {% endif %}
            {% if role == "SalesAdmin"%}
            <button type="button" class="btn btn-dark" onclick="window.location.href='/SalesAdmin';">Cancel</button>
            {% endif %}
            {% if role == "SalesRep"%}
            <button type="button" class="btn btn-dark" onclick="window.location.href='/salesRep';">Cancel</button>
            {% endif %}
        </form>
    </div>
    
</body>
</html>
