<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Add/Edit Sales Representatives</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <a class="navbar-brand" href="#">Add Sales Representative</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if role == "Admin" %}
                        <a class="nav-item nav-link" href="{% url 'adminPage' %}">Home</a>
                        {% elif role == "SalesAdmin" %}
                        <a class="nav-item nav-link" href="{% url 'SalesAdmin' %}">Home</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                    </li>
                </ul>
            </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="container pane-center">
        <h1>Add Sales Representative</h1>

        <form action="{% url 'addSalesRep' %}" method="post">
            {% csrf_token %}
            {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endif %}

            <div class="form-group">
                <label for="name">Full name:</label>
                <input type="text" id="name" name="fullname" class="form-control" placeholder="Full name..." required>
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username..."
                    required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password..."
                    required>
            </div>

            <div class="form-group">
				<label for="phoneNumber">Phone Number:</label>
				<input type="text" id="phoneNumber" name="phone" class="form-control" placeholder="Phone Number..." required>
			</div>

            <div class="form-group">
                <label for="region">Region:</label>
                <input type="text" id="region" name="region" class="form-control" placeholder="Region..." required>
            </div>

            <button type="submit" class="btn btn-success">Save</button>
            {% if role == "Admin" %}
            <button type="button" class="btn btn-secondary" onclick="window.location.href='/adminPage';">Cancel</button>
            {% elif role == "SalesAdmin" %}
            <button type="button" class="btn btn-secondary"
                onclick="window.location.href='/SalesAdmin';">Cancel</button>
            {% endif %}
        </form>
    </div>

</body>

</html>