<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Delete Order</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="header" class="text-center mb-4"> <!-- mb-4 adds margin-bottom -->
    <h1>Delete Order</h1>
</div>

<div class="container"> <!-- Using container to provide padding -->
    <form action="{% url 'deleteOrder' %}" method="post" class="pane-center">
        <div class="mb-3"> <!-- mb-3 adds margin-bottom -->
            <h2>Select Order to Delete</h2>
        </div>

        {% csrf_token %}

        <div class="form-group mb-3"> <!-- mb-3 adds margin-bottom -->
            <label for="OrdersLabel" class="form-label">Order ID:</label>
            <select id="OrdersLabel" name="Order" class="form-select">
                {% for order in orders %}
                    <option value="{{ order.id }}">{{ order.orderNum }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="d-grid gap-3 d-md-flex justify-content-md-end"> <!-- Bootstrap grid for button spacing -->
            <button type="submit" class="btn btn-danger me-5">Delete Order</button> <!-- me-2 adds margin to the right -->
            <button type="button" class="btn btn-secondary" onclick="window.location.href='/adminPage';">Cancel</button>
        </div>
    </form>
</div>

</body>
</html>
