<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Add Customer</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <a class="navbar-brand" href="#">Add Customer</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if role == "Admin" %}
                        <a class="nav-item nav-link" href="{% url 'adminPage' %}">Home</a>
                        {% elif role == "SalesAdmin" %}
                        <a class="nav-item nav-link" href="{% url 'SalesAdmin' %}">Home</a>
                        {% elif role == "Operations" %}
                        <a class="nav-item nav-link" href="{% url 'Operations' %}">Home</a>
                        {% elif role == "SalesRep" %}
                        <a class="nav-item nav-link" href="{% url 'salesRep' %}">Home</a>
                        {% elif role == "HR" %}
                        <a class="nav-item nav-link" href="{% url 'HR' %}">Home</a>
                        {% elif role == "cus" %}
                        <a class="nav-item nav-link" href="{% url 'customer' %}">Home</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                    </li>
                </ul>
            </div>
    </div>

    <form action="/AddCustomer" method="post" class="pane-center" id="addCustomerForm">
        <h2 class="h4 mb-3 font-weight-normal">Add Customer</h2>
        {% csrf_token %}<br>
         {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <label for="cusName">Customer Name:  </label>
        <input type="text" name="cusName" placeholder="Customer Name"><br>

        <label for="cusAddress">Customer Address:  </label>
        <input type="text" name="cusAddress" placeholder="Customer Address"><br>

        <label for="phoneNumber">Phone Number:  </label>
        <input type="text" name="phoneNumber" placeholder="Phone Number"><br>

        <label for="email">Email:  </label>
        <input type="text" name="email" placeholder="Email"><br>

        <button type="submit" class="btn btn-success">Save</button>
        <!-- Replace the following with your desired cancellation URLs -->
        <button type="button" class="btn btn-dark" onclick="window.location.href='/userView';">Cancel</button>
        <button type="button" class="btn btn-dark" onclick="window.location.href='/TAView';">Cancel</button>
    </form>
</body>
</html>
