<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Admin</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand" href="#">Delete Customer</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if role == "Admin" %}
                    <a class="nav-item nav-link" href="{% url 'adminPage' %}">Home</a>
                    {% elif role == "SalesAdmin" %}
                    <a class="nav-item nav-link" href="{% url 'SalesAdmin' %}">Home</a>
                    {% elif role == "Operations" %}
                    <a class="nav-item nav-link" href="{% url 'Operations' %}">Home</a>
                    {% elif role == "SalesRep" %}
                    <a class="nav-item nav-link" href="{% url 'salesRep' %}">Home</a>
                    {% elif role == "HR" %}
                    <a class="nav-item nav-link" href="{% url 'HR' %}">Home</a>
                    {% elif role == "cus" %}
                    <a class="nav-item nav-link" href="{% url 'customer' %}">Home</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>
            </ul>
        </div>
</div>

<body>
    <div class="container pane-center">
        <h1>Delete Customer</h1>
    
        <form action="{% url 'deleteCustomer' %}" method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="CustomersLabel">Select Customer:</label>
                <select id="CustomersLabel" name="Customer" class="form-control">
                    {% for customer in customers %}
                        <option value="{{ customer.id }}">{{ customer.cusFirstName }} {{ customer.CusLastName }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='/adminPage';">Cancel</button>
        </form>
    </div>
    
</body>
</html>
