<!DOCTYPE html>
<html>
<head>
    <title>Generate Paycheck</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <a class="navbar-brand" href="#">Generate Paychech</a>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'HR' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                  </li>
                </ul>
              </div>
    </div>
    <br>
    <br>
    <div class="container pane-center">
        <h2>Generate Paycheck</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="userSelect">Select User:</label>
                <select id="userSelect" name="user_id" class="form-control">
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.info.myName }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="payRate">Pay Rate:</label>
                <input type="number" step="any" class="form-control" id="payRate" name="pay_rate" required>
            </div>
            <div class="form-group">
                <label for="hoursWorked">Hours Worked:</label>
                <input type="number" class="form-control" id="hoursWorked" name="hours" required>
            </div>
            <div class="form-group">
                <label for="payRate">Pay From:</label>
                <input type="date" step="any" class="form-control" id="payRate" name="pay1" required>
            </div>
            <div class="form-group">
                <label for="payRate">Pay To:</label>
                <input type="date" step="any" class="form-control" id="payRate" name="pay2" required>
            </div>
        
	    <button type="submit" class="btn btn-success">Generate Paycheck</button>
       	    <button onclick="window.location.href='/HR';" class="btn btn-secondary">Back</button>
        

	</form>
    </div>
</body>
</html>
