<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>PersonalInfo</title>
    <!-- <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/style.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="header" class="text-center">
        <h1 style="visibility: hidden;"></h1>
    </div>
    <form action="{% url 'AddPersonalInfo' %}" method="post" class="pane-center" id="addPersonalInfoForm">
        <h2 class="h4 mb-3 font-weight-normal">Add/Edit Personal Information</h2>
        {% csrf_token %}
        <br>
        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <label for="myName">Name:</label>
        <input type="text" name="name" placeholder="Name"><br>

        <label for="address">Address:</label>
        <input type="text" name="address" placeholder="Address"><br>

        <label for="cusAddress">City:  </label>
        <input type="text" name="city" placeholder="City"><br>

        <label for="cusAddress">State:  </label>
        <input type="text" name="state" placeholder="State"><br>

        <label for="cusAddress">Zip:  </label>
        <input type="text" name="zip" placeholder="Zip Code"><br>

        <label for="phoneNumber">Phone Number:</label>
        <input type="text" name="PhoneNumber" placeholder="Phone Number"><br>

        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="Email"><br>

        <button type="submit" class="btn btn-success" onclick="window.location.href='/HR';">Save</button>
        <button type="button" class="btn btn-dark" onclick="window.location.href='/HR';">Cancel</button>
    </form>
</body>
</html>
