<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Verification Page</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="text-center">
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <a class="navbar-brand" href="#">Verify Yourself</a>
            </div>
        </nav>
    </div>

    <div id="mainform">
        <form action="/Verify" method="post" class="form-signin text-center">
            {% csrf_token %}
            <svg width="25%" height="25%" viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            </svg>
            <h1 class="h3 mb-3 font-weight-normal">Verification Needed</h1>
            <div class="center" id="loginbox">
                <p>A verification code has been sent to the phone number registered for your account. Please enter the code below.</p>
                {% if message %}
                <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
                <label for="code" class="sr-only">OTP: </label> 
                <input type="text" name="code" placeholder="Code" class="form-control" id="code">
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="loginbtn">Sign in</button>
                <a href="/" class="btn btn-lg btn-primary btn-block">Retry Login</a>
            </div>
        </form>
    </div>

    <!-- Bootstrap framework  -->
    <script src="static/js/jquery-3.5.1.slim.min.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>

</html>
