{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>View Specific Order</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="header" class="text-center mb-4">
        <h1> View Specific Order</h1>
    </div>

    <div class="container mt-4">
        <h1>Order Details</h1>
        <p><strong>Order Number:</strong> {{ order.orderNum }}</p>
        <p><strong>Customer:</strong> {{ order.Customer.name }}</p> <!-- Assuming Customer model has 'name' field -->
        <p><strong>Order Date:</strong> {{ order.orderDate }}</p>
        <p><strong>Order Amount:</strong> ${{ order.orderAmount }}</p>

        <h2>Items in Order</h2>
        <ul>
            {% for order_item in order_items %}
            <li>{{ order_item.item.ItemName }} - Quantity: {{ order_item.quantity }} - Price: ${{
                order_item.item.ItemPrice }}</li>
            {% empty %}
            <li>No items found in this order.</li>
            {% endfor %}
        </ul>

        <button id="back" class="btn btn-dark" onclick="window.history.back();">Back
        </button>
    </div>

</body>

</html>